---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: cloudcasa-operator-v4-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
